/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.align-center {
  width: 70%;
  margin: auto;
}

/* Header Section Styling */
.header-bg {
  background-color: rgb(37, 94, 233);
  /* DEBUG */
  height: 550px;
}

/* Main Nav Styling */
#logo {
  width: 100px;
}

#login {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 25px;
  font-size: 20px;
  text-decoration: none;
}

.main-menu li {
  list-style-type: none;
}

.main-menu li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.main-menu {
  display: flex;
  min-width: 600px;
  justify-content: space-between;
}

.header-menu {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* DEBUG */
  height: 80px;
  background-color: blueviolet;
}

/* Hero Text Styling */

.hero-text {
  width: 60%;
  justify-content: center;
  padding: 120px 0px 0px;
}

.hero-text h1 {
  font-size: 30px;
  color: white;
  text-align: center;
}

.hero-subheading {
  color: white;
  font-size: 20px;
  padding-top: 30px;
  text-align: center;
}

.cta-btn {
  display: flex;
  justify-content: center;
}

.btn-download {
  background-color: white;
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
}

.btn-browser-open {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  margin: 20px;
}

.content-align {
  display: flex;
  justify-content: center;
}