/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.align-center {
  width: 70%;
  margin: auto;
}

/* Header Section Styling */
.header-bg {
  background-color: rgb(37, 94, 233);
}

/* Main Nav Styling */
#logo {
  width: 100px;
}

#login {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 25px;
  font-size: 20px;
  text-decoration: none;
}

.main-menu li {
  list-style-type: none;
}

.main-menu li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.main-menu {
  display: flex;
  min-width: 600px;
  justify-content: space-between;
}

.header-menu {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 30px;
}

/* Hero Text Styling */

.hero-text {
  width: 60%;
  justify-content: center;
  padding: 120px 0px 0px;
}

.hero-text h1 {
  font-size: 30px;
  color: white;
  text-align: center;
}

.hero-subheading {
  color: white;
  font-size: 20px;
  padding-top: 30px;
  text-align: center;
}

/* Hero buttons styling */
.cta-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.btn-download {
  background-color: white;
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
}

.btn-browser-open {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  margin: 20px;
}

/* Hero text and buttons alignment */
.content-align {
  display: flex;
  justify-content: center;
}

/* Sections with img styling */

.content-row img {
  max-width: 50%;
  padding: 50px;
  align-self: center;
}

.content-row {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.content-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-row-text {
  font-size: 50px;
}

.content-row-subheading {
  font-size: 20px;
  padding-top: 20px;
}

#img-right {
  order: 1;
}

.grey-background {
  background-color: rgb(246, 246, 246);
  margin-top: 100px;
  text-align: center;
}

/* Fourth section styling */
.bottom-flex {
  padding: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.bottom-flex img {
  padding: 30px;
}

.text-above-cta h3 {
  font-size: 30px;
  padding-bottom: 40px;
}

.text-above-cta a {
  font-size: 30px;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(114, 137, 218);
  color: white;
  border-radius: 25px;
}

.text-above-cta {
  text-align: center;
  padding-bottom: 150px;
}

/* Footer styling */
footer {
  background-color: rgb(35, 39, 42);
  padding: 70px 0;
}

.footer-col ul {
  list-style: none;
}

.footer-row {
  display: flex;
  justify-content: space-between;
}

.footer-col {
  padding: 0 15px;
  line-height: 2rem;
}

.footer-col h4 {
  font-size: 18px;
  color: rgb(114, 137, 218);
}

.footer-col a {
  color: white;
  font-size: 18px;
  text-decoration: none;
}

.footer-col h3 {
  font-size: 30px;
  color: rgb(114, 137, 218);
}

.social-links {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

.footer-col span {
  padding-top: 15px;
  font-size: 15px;
  color: white;
  vertical-align: middle;
}

.footer-col img {
  padding-top: 15px;
  width: 10%;
  vertical-align: middle;
}

.footer-bottom {
  padding-top: 20px;
  display: flex;
  justify-content: space-between;
}

.spacing {
  padding-top: 20px;
  border-bottom: solid 2px rgb(114, 137, 218);
}

#register {
  background-color: rgb(114, 137, 218);
  color: white;
  text-decoration: none;
  font-size: 18px;
  padding: 8px;
  border-radius: 30px;
}

#logo-footer {
  width: 100px;
  align-self: center;
}