/* General Styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.align-center {
  width: 70%;
  margin: auto;
}

/* Header Section Styling */
.header-bg {
  background-color: rgb(37, 94, 233);
}

/* Main Nav Styling */
#logo {
  width: 100px;
}

#login {
  background-color: white;
  color: black;
  padding: 10px;
  border-radius: 25px;
  font-size: 20px;
  text-decoration: none;
}

.main-menu li {
  list-style-type: none;
}

.main-menu li a {
  color: white;
  text-decoration: none;
  font-size: 20px;
}

.main-menu {
  display: flex;
  min-width: 600px;
  justify-content: space-between;
}

.header-menu {
  padding: 0 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* DEBUG */
  height: 80px;
  background-color: blueviolet;
}

/* Hero Text Styling */

.hero-text {
  width: 60%;
  justify-content: center;
  padding: 120px 0px 0px;
}

.hero-text h1 {
  font-size: 30px;
  color: white;
  text-align: center;
}

.hero-subheading {
  color: white;
  font-size: 20px;
  padding-top: 30px;
  text-align: center;
}

.cta-btn {
  display: flex;
  justify-content: center;
  padding-bottom: 50px;
}

.btn-download {
  background-color: white;
  text-decoration: none;
  font-size: 20px;
  color: black;
  padding: 20px;
  margin: 20px;
  border-radius: 30px;
}

.btn-browser-open {
  background-color: black;
  color: white;
  padding: 20px;
  font-size: 20px;
  border: none;
  border-radius: 30px;
  margin: 20px;
}

.content-align {
  display: flex;
  justify-content: center;
}

/* Section 2 styling */

.content-row img {
  max-width: 50%;
  padding: 50px;
  align-self: center;
}

.content-row {
  display: flex;
  flex-direction: row;
  padding-top: 50px;
}

.content-text-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content-row-text {
  font-size: 50px;
}

.content-row-subheading {
  font-size: 20px;
  padding-top: 20px;
}

#img-right {
  order: 1;
}

.grey-background {
  background-color: rgb(246, 246, 246);
  margin-top: 100px;
  text-align: center;
}

#bottom-img {
  width: 100%;
}

.bottom-flex {
  padding: 100px;
  display: flex;
  flex-direction: column;
  text-align: center;
}

.bottom-flex img {
  padding: 30px;
}

.text-above-cta h3 {
  font-size: 30px;
  padding-bottom: 40px;
}

.text-above-cta a {
  font-size: 30px;
  padding: 10px;
  text-decoration: none;
  background-color: rgb(114, 137, 218);
  color: white;
  border-radius: 25px;
}

.text-above-cta {
  text-align: center;
  padding-bottom: 150px;
}